@layer base {
  :root {
    --highlighter-padding: 1rem;

    --font-geist-sans:
      Geist Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    --font-geist-mono:
      Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  code,
  kbd,
  pre,
  samp {
    font-family:
      Geist Mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
  }

  .z-ff-a {
    --z-global-font-family-sans: var(--font-geist-sans);
    --z-global-font-family-mono: var(--font-geist-mono);
  }

  .dark\:display-hidden:where(.dark, .dark *) {
    display: none;
  }

  .dark\:display-inline-block:where(.dark, .dark *) {
    display: inline-block;
  }

  .dark-slide-icon {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s ease;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .dark-slide-sun {
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .dark-slide-moon {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }

  .dark\:dark-slide-moon:where(.dark, .dark *) {
    transform: translate(-50%, 100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .dark\:dark-slide-sun:where(.dark, .dark *) {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .ts .ts-icon {
    display: none;
  }

  .ts.z-active .ts-icon {
    display: block;
  }

  .ec pre {
    overflow-x: auto;
  }

  .ec pre > code {
    display: block;
    padding-block: var(--highlighter-padding);
    font-family: var(--z-global-font-family-mono);
  }

  .ec pre > code .line {
    white-space: pre;
    padding-inline: var(--highlighter-padding);
  }

  .chart-card {
    --chart-border-computed: color-mix(
      in srgb,
      var(--z-border) var(--z-border-o),
      transparent
    );

    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--chart-border-computed);
    padding: calc(var(--spacing) * 4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .chart-card:hover {
    --chart-hover-bg-computed: color-mix(
      in srgb,
      var(--z-muted) var(--z-muted-o),
      transparent
    );

    background-color: var(--chart-hover-bg-computed);
    transition-property:
      color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
}
